@font-face {
    font-family: 'ITC';
    src: url('../Fonts/ITC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mono';
    src: url('../Fonts/Mono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
th{
    font-family: 'ITC';
    font-size: 15pt; 
}
tr{
    font-family: 'Mono';
    font-size: 13pt; 
    
}
td{
    padding-top: 30px;
}
button{
    margin-top: 28px;
    font-family: 'ITC';
}
.title, .text-center, .form-label{
    font-family: 'ITC';
    font-size: 20px;
}
.value, .form-group{
    font-family: 'Mono';
    font-size: 20px;
}
.but{
    margin-right:100px;
}
.adduser{
    margin-top: 50px;
}
.nametitle{
    padding-top: 25px;
}
